@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");

.login-heading {
  font-size: 3.5vw;
  color: #3c4d8d;
  font-family: "Rubik", sans-serif;
  margin-left: 6.9vw;
  padding: 30px 0px;
}

.main-login-page {
  min-height: 750px;
}
.login-body {
  margin-top: 180px;
}
.submit {
  margin-top: 38px;
  margin-bottom: 38px;
  background-color: #3c4d8d;
  border-radius: 5px;
  font-size: 1.5rem;
  height: 53px;
  border: none;
  color: White;
}
.submit:hover {
  background-color: #2c3969;
  color: White;
}
button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
.login-form-section {
  margin-top: 50px;
  background-color: #eeeeee;
}
.labels {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.img-div-email {
  float: left;
}

section {
  float: right;
  margin-right: 10vw;
}
.hero-login-form {
  height: 25vw;
  width: 40vw;
  margin-top: 7vw;
}
